<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <form action="/" method="post">

        <h3>CONTACT FORM</h3>
        <input type="text" placeholder="Enter Firm name" name="company_name">
        <br><br>
        <input type="text" placeholder="Enter Address" name="company_address">
        <br><br>
        <input type="number" placeholder="Enter Pincode" name="pincode">
        <br><br>
        <input type="number" placeholder="Enter Mobile number" name="mobile_number">
        <br><br>
        <input type="text" placeholder="Enter Email id" name="email_id">
        <br><br>
        <input type="text" placeholder="Enter Website" name="website">
        <br><br>
        <input type="submit">
    </form>
    
</body>
</html>